extend layout
block content
  // Page Contents
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment(style="background-image: url(\"./images/background4.png\");background-attachment: fixed; background-repeat: no-repeat; background-size:cover;min-height: 0; height: 100vh; max-height:700px;")
      .ui.container
        .ui.large.secondary.inverted.pointing.menu(style="border:none;")
          a.active.item 
            i.fa.fa-globe &nbsp;&nbsp;
            | home 
          a.item(href="../leaderboard")
            i.fa.fa-trophy &nbsp;&nbsp;
            | leaderboards 
      .ui.text.container
        h1.ui.inverted.header(style="margin-top:2em; letter-spacing: -0.05em;")
          | f i n d e n
        h2 the massively multiplayer scavenger hunt
        br
        a.ui.huge.violet.button(href="./finden.apk" download)
          i.fa.fa-mobile
          | &nbsp;&nbsp;&nbsp;join the hunt!
    .ui.vertical.stripe.center.aligned.text.container
      h3.ui.header.violet The World's First Digital Recognition Scavenger Hunt
      p Traditional scavenger hunts depend on an organizer to collect a list of items, and then manually judge when participants find them. finden is a real-life scavenger hunting game that takes this out of the equation. We use AI object recognition to confirm finds, and implement a dynamic scoring system based on rarity. Just pick up your phone and start playing!
      a.ui.big.basic.button(href="https://github.com/shunr/scavenger-hunt")
        | check out our github
      br
      br
      .ui.center.aligned.segment.piled(style="margin-bottom:0;padding:1.5em;")
        br
        h3.ui.header.violet An International Scavenger Hunt
        p Compete against everyone in the world to be the number one finder. Check out the <a href="./leaderboard">leaderboards</a>
        h3.ui.header.violet AI Object Detection
        p Using <a href="https://www.ibm.com/watson/services/visual-recognition/"> IBM's Watson Visual Recognition API </a>, finden confirms your finds simply with photos taken by your mobile camera!
        h3.ui.header.violet Dynamic Scoring System
        p The scoring system values rare finds - as objects are found by more people, their value decreases. Try to find the rarest items!
        br
    .ui.inverted.vertical.footer.center.aligned.segment(style="padding: 2em;background-image: url(\"./images/background4.png\");background-attachment: fixed; background-repeat: no-repeat; background-size:cover;")
      | built with &nbsp;
      i.fa.fa-heart 
      | &nbsp;&nbsp;htn 2017 
        
  script(src='./js/jquery-3.2.1.min.js')
  script(src='./js/semantic.min.js')
  script(src='./js/menufix.js')