extend layout
block content
  // Page Contents
  .pusher
    .ui.inverted.vertical.center.aligned.segment(style="background-image: url(\"./images/background4.png\");background-attachment: fixed; background-repeat: no-repeat; background-size:cover;min-height:2em")
      .ui.container
        .ui.large.secondary.inverted.pointing.menu(style="border:none;")
          a.item(href="./") 
            i.fa.fa-globe &nbsp;&nbsp;
            | home 
          a.active.item 
            i.fa.fa-trophy &nbsp;&nbsp;
            | leaderboards
      .ui.container.text
        .ui.segment.padded.piled(style="width:80%;margin:5em 0 3em 0; position:relative; left:50%;transform: translateX(-50%);")
          .content(style="margin-top:12px")
            h1.ui.header.violet top finders &nbsp;<i class="fa fa-moon-o"></i>
          .content
            .row
              .ten.wide.column.padded
                .ui.relaxed.ordered.divided.list
                  each user in leaderboardData
                    .item 
                      .right.floated.content= user.score
                      strong.content.name= user.username
      
            
    .ui.inverted.vertical.footer.center.aligned.segment(style="background-image: url(\"./images/background4.png\");background-attachment: fixed; background-repeat: no-repeat; background-size:cover; padding: 2em 0;")
      | built with &nbsp;
      i.fa.fa-heart 
      | &nbsp;&nbsp;HTN 2017 
        
  script(src='./js/jquery-3.2.1.min.js')
  script(src='./js/semantic.min.js')
  script(src='./js/menufix.js')