.cardMain {
  background-color: rgba(240,240,240,0.95);
  height: 100%;
  width: 100%;
  alignItems: center;
  flexDirection: row;
  justifyContent: center;
}
/*

const styles = Object.assign({}, appStyles, StyleSheet.create({
  col: {
    flex: 1,
    flexDirection: 'column',
    marginLeft: 7, marginRight: 7,
  },
  textfield: {
    color: '#000000',
    height: 28,  // have to do it on iOS
    marginTop: 32,
  },
  backgroundImage: {
    flex: 1,
    width: null,
    height: null,
    resizeMode: 'cover',
    alignItems: 'center',
    flexDirection : 'row',
    justifyContent:'center'

  },
  backgroundCard: {
    flex:1,
  }
}))*/
